elpa/
straight/
quelpa/
.exec-path-from-shell/

*.elc
*-autoloads.el

backups/
auto-save/
auto-save-list/
*~
\#*\#
.#*
undo-fu-session/
transient/
.cache/
eln-cache/
etc/
var/
recentf
savehist
bookmarks
tramp
projects
projectile.cache
dired-open/

tree-sitter/
games/
custom.el
history
.DS_Store
.idea/
.vscode/
places
projectile-*
.lsp-session-v1